@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap');

body, html{
    font-size: var(--default-font-size);
    font-family: 'Heebo', sans-serif;
    font-weight: 400;
}

.inner-content{
    @apply container w-10/12 mx-auto;
}