:root{
    --primary: #0044bb;
    --primary-dark: #080229;
    --white: #ffffff;
    --primary-tshadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
    --primary-bshadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
    --btn-radius: 8px;
    --tab-radius: 0px;
    --primary-light: #75a7ff;
    --primary-hover: #0022aa;
    --light-white: #f5f5f5;

    --default-font-size: 14px;
}